$table-header-bg: #1976d2;
$table-header-text: white;
$table-strip-row-bg: #f2f2f2;
$table-pagination-border-bg: #ddd;
$table-border-color: #ddd;

ngx-table {
  .ngx-table-wrapper {
    overflow-x: auto;
    border-radius: 4px;
  }


  .ngx-table-sticky-header-table {
    display: inline-block;
    width: 100%;
    overflow: auto;
  }

  table {
    width: 100%;
    table-layout: auto;
    display: block;
    border-collapse: collapse;


    thead {
      background-color: $table-header-bg;
      color: $table-header-text;

      th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 32px;
        font-size: 16px;
        vertical-align: center;

        background-color: $table-header-bg;
        color: $table-header-text;
      }
    }

    th, td {
      height: 25px;
      font-size: 14px;
      padding: 7px;
      text-align: left;
      overflow-wrap: break-word;
    }


    tbody {
      tr:hover {
        background-color: #f5f5f5;
      }

      th {
        text-align: start;
      }
    }

    tfoot {
      background-color: $table-header-bg;
      color: $table-header-text;

      th {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background-color: $table-header-bg;
        color: $table-header-text;
      }
    }

    &.bordered {
      th, td {
        border-bottom: 1px solid $table-border-color;
      }
    }

    &.striped {
      tr:nth-child(even) {
        background-color: $table-strip-row-bg;
      }
    }
  }

  .pagination-block {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;

    .pagination {
      display: inline-block;
      margin: 10px;

      a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }


      a {
        cursor: pointer;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid $table-pagination-border-bg;

        &.active {
          background-color: $table-header-bg;
          color: $table-header-text;
        }
      }
    }


    /* Custom dropdown */
    .custom-dropdown {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      select {
        font-size: inherit;
        padding: .6em;
        padding-right: 2.5em;
        border: 0;
        margin: 0;
        border-radius: 3px;
        text-indent: 0.01px;
        text-overflow: '';
        /*Hiding the select arrow for firefox*/
        -moz-appearance: none;
        /*Hiding the select arrow for chrome*/
        -webkit-appearance: none;
        /*Hiding the select arrow default implementation*/
        appearance: none;
      }

      select::-ms-expand {
        display: none;
      }

      select[disabled] {
        color: rgba(0, 0, 0, .25);
      }
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
    }

    .custom-dropdown::after {
      color: rgba(0, 0, 0, .6);
    }
  }

}
