<div class="ngx-table-wrapper">
  <div class="ngx-table-sticky-header-table"
       [style.height.px]="tableHeight">
    <table class="bordered striped">
      <thead>
      <tr>
        <th *ngFor="let column of columnTemplates; let columnIndex = columnIndex; let last = last;"
            [style.width]="column.width"
            [style.min-width]="column.width"
            [style.max-width]="column.width">
          <ng-container *ngIf="!(column.field | findColumnTemplate:columnTemplates:'header')">
            {{column.title}}
          </ng-container>
          <ng-container *ngIf="(column.field | findColumnTemplate:columnTemplates:'header')">
            <ng-container *ngTemplateOutlet="(column.field | findColumnTemplate:columnTemplates:'header');
              context:{
                  $implicit: column,
                  index:columnIndex,
                  last:last
              }">
            </ng-container>
          </ng-container>
        </th>
      </tr>
      </thead>
      <tbody
        [style.height.px]="tableHeight">
      <tr *ngFor="let rowItem of dataSource; let rowIndex = index; let first = first; let last = last;">
        <td *ngFor="let column of columnTemplates; let columnIndex = columnIndex;"
            [style.width]="column.width"
            [style.min-width]="column.width"
            [style.max-width]="column.width">
          <ng-container *ngIf="!(column.field | findColumnTemplate:columnTemplates:'cell')">
            {{rowItem | reduceValue:column.field}}
          </ng-container>
          <ng-container *ngIf="(column.field | findColumnTemplate:columnTemplates:'cell')">
            <ng-container *ngTemplateOutlet="(column.field | findColumnTemplate:columnTemplates:'cell');
              context:{
                  $implicit: rowItem,
                  index:rowIndex,
                  columnIndex:columnIndex,
                  column: column,
                  first:first,
                  last:last
              }">
            </ng-container>
          </ng-container>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="showFooter">
      <tr>
        <th *ngFor="let column of columnTemplates; let columnIndex = columnIndex; let last = last;"
            [style.width]="column.width"
            [style.min-width]="column.width"
            [style.max-width]="column.width">
          <ng-container *ngIf="(column.field | findColumnTemplate:columnTemplates:'footer')">
            <ng-container *ngTemplateOutlet="(column.field | findColumnTemplate:columnTemplates:'footer');
              context:{
                  $implicit: column,
                  index:columnIndex,
                  last:last
              }">
            </ng-container>
          </ng-container>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class="pagination-block" *ngIf="showPagination">
    <div class="custom-dropdown">
      <select [(ngModel)]="tablePaginationDetails.pageSize" (ngModelChange)="onPageSizeChange()">
        <option *ngFor="let item of pagination.listOfOption" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="pagination">
      <a (click)="tablePaginationDetails.currentPage !== 1 && onPageChange( 1)">First</a>
      <a (click)="tablePaginationDetails.currentPage !== 1 && onPageChange(tablePaginationDetails.currentPage - 1)">&laquo;</a>
      <a *ngFor="let item of tablePaginationDetails.pages" [class.active]="item === tablePaginationDetails.currentPage"
         (click)="tablePaginationDetails.currentPage !== item && onPageChange(item)">
        {{item}}
      </a>
      <a
        (click)="tablePaginationDetails.currentPage !== tablePaginationDetails.endPage && onPageChange(tablePaginationDetails.currentPage + 1)">&raquo;</a>
      <a
        (click)="tablePaginationDetails.currentPage !== tablePaginationDetails.totalPages && onPageChange( tablePaginationDetails.totalPages)">Last</a>
    </div>
  </div>

</div>
